 .custom-navbar {
      background-color: #5A827E;
    }

    .custom-navbar .nav-link {
      color: #FAFFCA !important;
      font-weight: 500;
      transition: background-color 0.3s, color 0.3s;
      border-radius: 0.375rem;
      padding: 0.5rem 1rem;
    }

    .custom-navbar .nav-link:hover {
      background-color: #84AE92;
      color: #ffffff !important;
    }

    .navbar-brand {
      color: #FAFFCA !important;
      font-weight: bold;
    }